.App {
  text-align: center;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menustyle{
  padding: 1% 10%!important;
}
.logo{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.menu{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
